.container_single_post {
  position: relative;
}

.container_main_image{
  width: 90vw;
  height: 90vw;
  overflow: hidden;
  /* transform: translate(-10px, -20px); */
  margin-bottom: 20px;
}

.post_subtitle {
  font-weight: 900;
  text-align: center;
  width: 100%;
  /* border-top: 1px solid white; */
  padding: 0 0 20px 0 ;
}

.container_author {
  display: flex ;
  height: 50px;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.container_author p {
 margin-bottom: 0;
}

.author_avatar{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
}

.container_post {
  padding: 0 20px;
}

@media screen and (min-width: 750px) {
  .container_main_image{
    height: 400px;
  }
}

@media screen and (min-width: 900px) {
  .container_main_image{
    width: 100vw;
    transform: translate(-10vw, -20px);
  }
}