.container_single_post {
  position: relative;
}

.container_main_image{
  width: 100vw;
  height: 250px;
  overflow: hidden;
  transform: translate(-10px, -20px);
}

.post_subtitle {
  font-weight: 900;
  text-align: center;
  width: 100%;
  /* border-top: 1px solid white; */
  padding: 0 0 20px 0 ;
}

.container_author {
  display: flex ;
  height: 50px;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.container_author p {
 margin-bottom: 0;
}

.author_avatar{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
}

.container_post {
  padding: 0 20px;
}

@media screen and (min-width: 750px) {
  .container_main_image{
    height: 400px;
  }
}

@media screen and (min-width: 900px) {
  .container_main_image{
    width: 50vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 90px;
    /* transform: translate(-10vw, -40px); */
  }
  /* .container_main {
    min-height: calc(100vh - 70px);
    width: 80vw;
    padding: 40px 0;
  }
  .container_list_posts {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 170px;
    grid-gap: 30px;
  } */
}