.container_header {
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

.container_nav {
  width: 300px;
  display: flex;
  justify-content: space-around;
}