.container_carousel {
  
  --grid_mobile: repeat(14, 1fr);
  --row_mobile: 50vh 1fr 40px;
  --height_mobile: calc(100dvh - 60px);

  margin-top: 60px;
  width: 100%;

  display: grid;
  grid-template-columns: var(--grid_mobile);
  grid-template-rows: var(--row_mobile);
  height: var(--height_mobile);
  overflow: hidden;
  background-color: black;
}

.total_posts {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.total_posts ul {
  height: 30px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.total_posts ul:after{
  content: "";
  height: 30px;
  width: 1px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
}

.total_posts li {
  width: 30px;
  height: 0px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: gold; */
  transition: height 1s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.total_posts li.active {
  display: initial;
  top: 0;
  left: 50%;
  height: 30px;
  transform: translateX(-50%);
  opacity: 1;
}

.total_items, .total_posts li button {
  width: 30px;
  height: 30px;
  background-color: #ffd70000;
  line-height: 30px;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 17px;
  border: none;
  /* background-color: violet; */

}


/* container da galeria */
.slick-slider {
  grid-column: 1 / 15;
	grid-row: 1 / 4;

  /* sub grid */
  display: grid;
  grid-template-columns: var(--grid_mobile);
  grid-template-rows: var(--row_mobile);
  height: var(--height_mobile);
}


.slick-list {
  grid-column: 1 / 15;
	grid-row: 1 / 4;
  /* background-color: gold; */
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: rgb(123, 43, 43); */
}

.container_slider {
  height: calc(100vh - 60px);
  position: relative;
  /* background-color: aqua; */

  /* Subgrid */
  display: grid;
  grid-template-columns: var(--grid_mobile);
  grid-template-rows: var(--row_mobile);
  height: var(--height_mobile);
}

.container_slider_picture {
  border: dotted blue 1px;
  grid-column: 1 / 15;
	grid-row: 1 / 2;
}

.container_post_summary {
  grid-column: 3 / 13;
	grid-row: 2 / 3;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .post_summary h2, .post_summary p {
    color: white;
    padding: 0;
    margin-bottom: 0;
    transition: opacity 1.2s ease-in-out;
    text-align: center;
  }

  .post_summary h2 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
  }

.show_more {
  background-color: tomato;
  grid-column: 3 / 13;
	grid-row: 3 / 4;
}

.slick-dots {
  /* background-color: black; */
  grid-column: 13 / 15;
  grid-row: 2 / 3;
  z-index: 2;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slick-dots li {
  width: 100%;
  /* background-color: blue; */
  height: 40px;
  margin-bottom: 0;
}

.slick-dots li button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #ffd70000;
  position: relative;
  text-indent: -1000px;
  overflow: hidden;
}

.slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: 2px solid white;
  /* background-color: tomato; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots li.slick-active button:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slick-next, .slick-prev {
  display: none !important;
}