.container_footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.container_social {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;
  padding: 10px 0;
}

.container_footer p {
  color: white;
  text-align: center;
  font-size: 1.4em;
}